body {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
    background-color: whitesmoke;
}

a,a:hover{
    text-decoration: none;
}

input:focus{
    outline: none;
}